@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

 :root {
    --first-color: #036bba;
    --first-color-hover: #0c8cee;
    --first-color-active: #015da3;
    --second-color: #189fe2;
    --second-color-hover: #189fe2;
    --second-color-active: #189fe2;
    --third-color: #34aa2f;
    --third-color-hover: #2a8826;
    --third-color-active: #1f5f1d;
    --heading-height: 55px;
    --logo-bg-color: var(--first-color);
    --white: #FFFFFA;
    --rating-fill-color: #e7b11b;
    --rating-bg-color: #b1b1b1;
}

.noUi-connect {
    background-color: var(--second-color);
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-size: 1.1rem;
    padding: 6px 0px;
    color: rgb(66, 66, 66);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.6rem;
}

html {
    height: 100%;
}

body {
    height: 100vh;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

th {
    background-color: rgb(209, 209, 209);
}

th,
td {
    padding: 8px;
}

hr {
    margin: 24px 10%;
    border: 1px solid #eee;
}

.review {
    background-color: #eee;
    padding: 20px 10px;
}

.reviewNickName {
    font-size: 1.1rem;
}

.reviewCount {
    font-size: 0.9rem;
    color: rgb(87, 87, 87);
}

.btn {
    cursor: pointer;
    display: inline-block;
    color: white !important;
    text-decoration: none;
    border: 2px solid rgb(209, 209, 209);
    margin: 10px 0px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--third-color);
}

.btn:hover {
    background-color: var(--third-color-hover);
}

.btn:active {
    background-color: var(--third-color-active);
}

.coordlabel {
    font-weight: bold;
    color: rgb(32, 32, 32);
    font-size: 1.4rem;
}

.smallbtn {
    margin: 0px 0px;
    padding: 5px 10px;
    font-size: 1.1rem;
}

.extrasmallbtn {
    margin: 0px 0px;
    padding: 5px 10px;
    font-size: 0.8rem;
}

header {
    height: var(--heading-height);
}

#main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: calc(100vh - var(--heading-height));
}

#content {
    max-width: 800px;
    margin: auto;
}

.playgroundImage {
    max-width: 800px;
    max-height: 600px;
}

#logosmall {
    display: none;
}

@media only screen and (max-width: 1000px) {
    #content {
        max-width: 600px;
    }
    .playgroundImage {
        max-width: 600px;
    }
}

@media only screen and (max-width: 800px) {
    #content {
        max-width: 400px;
    }
    .playgroundImage {
        max-width: 400px;
    }
}

@media only screen and (max-width: 750px) {
    #filterspanel {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    #logo {
        display: none;
    }
    #logosmall {
        display: flex;
    }
}

@media only screen and (max-width: 440px) {
    #content {
        max-width: 300px;
    }
    .playgroundImage {
        max-width: 300px;
    }
}

#filterspanel {
    overflow: auto;
    width: 200px;
    height: calc(100vh - var(--heading-height));
    padding: 0px 20px;
}

#filters {
    padding: 20px 0px;
}

nav,
nav ul,
nav li {
    height: 100%;
}

nav ul {
    list-style-type: none;
    background-color: var(--first-color);
    display: flex;
    flex-direction: row;
}

nav li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
}

nav li a {
    text-transform: uppercase;
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

nav li.active {
    background-color: var(--first-color-active);
}

nav li:hover:not(.active) {
    background-color: var(--first-color-hover);
    color: #fff;
}

#logo,
#smalllogo {
    background-color: var(--logo-bg-color);
}

#logo a,
#smalllogo a {
    font-size: 1.6rem;
    text-transform: uppercase;
}

#map {
    flex: 1;
}

.leaflet-popup-content-wrapper {
    border-radius: 2px;
}

.popup {
    width: 300px;
    min-height: 60px;
}

.popup img {
    float: left;
}

.popup b {
    font-size: 1.2rem;
}

.popup b,
.popup p {
    margin: 0px;
    margin-left: 70px;
    display: block;
}

.filledrating {
    color: var(--rating-fill-color);
}

.emptyrating {
    color: var(--rating-bg-color);
}

.ratinglabel {
    font-size: 2rem;
    color: var(--rating-fill-color);
}

.ratinglabelsmall {
    font-size: 1.2rem;
    color: var(--rating-fill-color);
}

.ratingstars {
    font-size: 2rem;
}

.ratingsmall {
    font-size: 1.4rem;
}

.filterdiv {
    padding: 14px 0px;
}

#smallmap {
    height: 400px;
}

.date {
    text-align: right;
    letter-spacing: 2px;
    color: #666;
}

.playgroundIcon {
    max-width: 70px;
    max-height: 70px;
}

.headinglink {
    color: black !important;
    text-decoration: none;
}

.headinglink:hover {
    color: black !important;
    text-decoration: underline;
}

input[type=text],
input[type=number],
textarea {
    font-size: 1rem;
    border: 1px solid #666;
    padding: 4px 6px;
    box-sizing: border-box;
    resize: none;
}

input[type=text]:focus,
input[type=number]:focus,
textarea:focus {
    outline: none !important;
    border: 1px solid black;
}


/* CHECKBOXES */

.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox>label {
    padding-left: 10px;
}

.checkbox>input {
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #666;
    cursor: pointer;
}

.checkbox>input:checked {
    border: 1px solid rgb(92, 92, 92);
    background-color: var(--second-color);
}

.checkbox>input:checked+label::before {
    pointer-events: none;
    content: '\2713';
    font-weight: bold;
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 0.2rem;
    top: 0rem;
}