@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --first-color: #1c8d55;
    --first-color-hover: rgb(59, 167, 104);
    --second-color: #0488c5;
    --second-color-hover: #036999;
    --second-color-active: #004869;
    --active-color: rgb(2, 112, 124);
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.6rem;
}

html {
    height: 100%;
}

body {
    height: 100vh;
}

.btn {
    cursor: pointer;
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 2px solid rgb(209, 209, 209);
    margin: 10px 0px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--second-color);
}

.btn:hover {
    background-color: var(--second-color-hover);
}

.btn:active {
    background-color: var(--second-color-active);
}

.coordlabel {
    font-weight: bold;
    color: rgb(32, 32, 32);
    font-size: 1.4rem;
}

.smallbtn {
    margin: 0px 0px;
    padding: 5px 10px;
    font-size: 1.1rem;
}

header {
    height: 50px;
}

#main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: calc(100vh - 50px);
}

#content {
    max-width: 800px;
    margin: auto;
}

@media only screen and (max-width: 1000px) {
    #content {
        max-width: 600px;
    }
}

@media only screen and (max-width: 800px) {
    #content {
        max-width: 400px;
    }
}

@media only screen and (max-width: 440px) {
    #content {
        max-width: 300px;
    }
}

#filters {
    width: 200px;
    padding: 10px 20px;
}

nav,
nav ul,
nav li {
    height: 100%;
}

nav ul {
    list-style-type: none;
    background-color: var(--first-color);
    display: flex;
    flex-direction: row;
}

nav li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
}

nav li a {
    color: #FFF;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

nav li.active {
    background-color: var(--active-color);
}

nav li:hover:not(.active) {
    background-color: var(--first-color-hover);
    color: white;
}

#logo {
    background-color: #1C8D55;
}

#logo a {
    font-size: 1.6rem;
    text-transform: uppercase;
}

#map {
    flex: 1;
}

.leaflet-popup-content-wrapper {
    border-radius: 2px;
}

.popup {
    width: 300px;
    min-height: 60px;
}

.popup img {
    float: left;
}

.popup b {
    font-size: 1.2rem;
}

.popup b,
.popup p {
    margin: 0px;
    margin-left: 70px;
    display: block;
}

.rating {
    font-size: 1.4rem;
    color: #cab900;
}